*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background: rgba(47, 47, 47, 1);
  height: 800px;
}
a{
  color: white;
  margin-right: 30px;
}
button{
  padding: 15px 30px;
  background: rgba(245, 155, 0, 1);
  border-radius: 5px;
  border: none;
  color: white;
  height: 45px;
}

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 226px;
  margin-right: 226px;
}

.navcon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.navbar{
  height: 100px;
}

h3{
color: rgba(245, 155, 0, 1);
font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 150%;
}
h1{
  align-items: center;
font-size: 61px;
color: white;
width: 411px;
height: 158px;
}
p{
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: rgba(255, 255, 255, 1);
}
.herocon{
display: flex;
justify-content: start;
row-gap: 38px;
flex-wrap: wrap;
width: 445px;
height: 385px;
top: 205px;
left: 226px;
border-radius: 5px;
}
.backgroundImage{
width: 849px;
height: 565px;
top: 79px;
left: 669px;
opacity: 1;
margin-top: 68px;
}
.image{
position: absolute;
width: 620px;
height: 714px;
top: 86px;
left: 738px;
margin-top: 68px;

}
.stylish{
  margin-bottom: -20px;
}
.bagTypes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.a{
  color:rgba(47, 47, 47, 1);
}
.bagTypes{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.imgs{
  display: flex;
  justify-content: space-evenly;
}
.sectionEB{
  margin: 30px;
  display: block;
}
.cart{
  width: 264px;
  height: 306px;
  border-radius: 10px;
  border: 1px solid rgba(163, 163, 163, 1);
  margin-top: 40px;
}
.img1{
}
.img2{
  position: absolute;
  left: 120px;
}
.img3{
  position: absolute;
  right: 120px;
}
.img4{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sbSection{
  position: relative;
}